
main{
    background-color: white;
}
#navbarNav{
  justify-content: flex-end;
}
.inputboxes{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin:20px auto ;
}
.inputboxes input{
    background: none;
  border: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: .9rem;
  padding: 8px 15px;
}
.inputboxes .btn{
    margin-top: 20px;
}
.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #c5cdd7;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
    margin-top: 50px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #3c00ff;
    transition: color .3s ease;
  }
  
 
  .formcontainer{
    margin: auto;
    margin-top: 200px;
   width: 40% ;
          min-width: 400px !important;

  }
  .notactive{
    display: none;
  }
  .card{
    margin: 20px;
  }
  .questions-header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .questions-header h1{
    margin-left: auto; 
  }
  .questions-header p{
margin-left: auto;  }
.questionscard ul{
  margin: 50px;
}
.questionscard h3{
margin: 50px;
}
.multiplechoice li{
  list-style-type: upper-alpha;
  margin: 20px;
}
.multiplechoice li a{
  margin-left: 10px;
  cursor: pointer;
  transition: .3s;
}
.multiplechoice li a:hover{
  border: solid black;
  /* width: 10%; */
  border-radius: 15px;
  padding: 9px;
  color: #3c00ff;
  
  
}
#submitbtn{
  float: right;
  display: none;
}
.gameover{
  display: none;
}
footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}